* {
    box-sizing: border-box;
}

html, body {
    margin-top: 0;
    height: 100%;
    background-color: #f5f6f7;
}

@keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

header {
    animation: 1s ease-out 0s 1 slideInFromTop;

    background-color: white;
    position: sticky;
    margin-top: 0;
    padding-left: 7%;
    padding-right: 7%;
    z-index: 1000;
    left: 0;
    top: 0;
    flex-wrap: wrap;
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-btn {
    text-decoration: none;
}

.user-name {
    opacity: 0.7;
    color: black;
}

.nav-menu {
    text-decoration: none;
    visibility: hidden;
    position: absolute;
    overflow: visible;
    z-index: 999 !important;
    background-color: white;
    padding: 15px;
    box-shadow: 2px 5px 10px -5px black;
}

hr {
    border: none;
    background-color: rgb(156, 156, 156);
    color: rgb(165, 165, 165);
    height: 2px;
}

.nav-link {
    display: block;
    text-decoration: none;
    color: black;
    padding-bottom: 5px;
}

.nav-link:hover {
    display: block;
    text-decoration: none;
    background-image: linear-gradient(to right, rgb(230, 230, 230), white);
    color: black;
}

@keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }

.notifications {
    animation: 2s ease-out 0s 1 slideInFromBottom;

    position: fixed;
    display: flex;
    flex-direction: column;
    width: 15%;
    bottom: 10px;
    right: 10px;
}

.error-notification-msg-wrp, .warning-notification-msg-wrp, .success-notification-msg-wrp { 
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    margin-bottom: 10px;
    position: relative;
    z-index: 1000;
    display: flex;
    align-items: center;
    border-radius: 7px;
    box-shadow: 0 0 6px 1px rgba(109, 109, 109, 0.9);
    color: white;
}

.notification-message {
    display: flex; 
    flex-direction: column;
}

.error-notification-msg-wrp {
    background-color: rgba(196, 0, 0, 0.7);
}

.warning-notification-msg-wrp {
    background-color: rgba(209, 112, 0, 0.7);
}

.success-notification-msg-wrp {
    background-color: rgba(35, 209, 0, 0.7);
}

.error-notification-msg-wrp i,  .warning-notification-msg-wrp i, .success-notification-msg-wrp i{
    font-size: 25px;
    padding-left: 12px;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
    color: rgba(255, 255, 255, 0.8);
}

.container {
    overflow: hidden;
    margin-top: 10px;
    height: 90%;
    width: 86%;
    margin-left: 7%;
    border: none;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

.menu-block:hover .nav-menu {
    visibility: visible;
    z-index: 1000;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.qa-text {
    animation: 0.3s ease-out 0s 1 fadeIn;

    display: grid;
    margin: auto;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: white;
}

.php-text {
    animation: 1.5s ease-out 0s 1 fadeIn;

    display: grid;
    margin: auto;
    font-size: 70px;
    font-family: "Lucida Console", Courier, monospace;
    font-style: italic;
    color: black;
}

.java-text {
    animation: 1.5s ease-out 0s 1 fadeIn;

    display: grid;
    margin: auto;
    font-size: 60px;
    font-style: normal;
    font: bold;
    color: white;
}

.dot-net-text {
    animation: 1.5s ease-out 0s 1 fadeIn;

    display: grid;
    margin: auto;
    font-size: 100px;
    font-style: normal;
    font: bold;
    color: white;
}

.js-text {
    animation: 0.3s ease-out 0s 1 fadeIn;

    display: grid;
    margin-left: 45%;
    margin-top: 105%;
    font-size: 130px;
    font-family: Arial, Helvetica, sans-serif;
    font: bold;
    color: black;
}

.events-text {
    animation: 4.5s ease-out 0s 1 fadeIn;

    display: grid;
    margin: auto;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    color: white;
}

.blog-text {
    animation: 4.5s ease-out 0s 1 fadeIn;

    display: grid;
    margin: auto;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    color: white;
}

.contacts-text {
    animation: 4.5s ease-out 0s 1 fadeIn;
    
    display: grid;
    margin: auto;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    color: white;
}

.notification-text {
    margin-left: 12px;
    color: rgba(255, 255, 255, 0.9);
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

.notification-info-text {
    margin-left: 12px;
    color: rgba(255, 255, 255, 0.9);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.icons {
    display: flex !important;
    justify-content: center !important;
    margin-top: 25px;
}

.contact-icon {
    margin-left: 10px;
    font-size: 35px !important;
    float: left;
}

.button {
    margin: auto;
    background-color: #008CBA;
    color: black;
    border: 2px solid #008CBA;
    height: 40px;
    width: 100px;
}

.button:hover {
    background-color: #003041;
    color: white;
}

.icons #fb-icon:hover {
    opacity: 0.9;
    color: rgb(0, 0, 134);
}

.icons #tg-icon:hover {
    opacity: 0.9;
    color: rgb(60, 126, 248);
}

.icons #inst-icon:hover {
    opacity: 0.9;
    color: rgb(236, 0, 71);
}

header #nav-bell {
    opacity: 0.4;
    color: black;
}

header #nav-bell:hover {
    opacity: 0.7;
    color: black;
}

header #nav-user {
    opacity: 0.5;
    color: black;
}

header #nav-user:hover {
    opacity: 0.7;
    color: black;
}

header #nav-settings {
    opacity: 0.5;
    color: black;
}

header #nav-settings:hover {
    opacity: 0.7;
    color: black;
}

header #nav-logOut {
    opacity: 0.5;
    color: black;
}

header #nav-logOut:hover {
    opacity: 0.7;
    color: black;
}

.container .left-wrp {
    grid-column: 1;
    border: none;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(4, 25%);
    justify-content: center;
}

.container .card {
    background-color: white;
    position: relative;
    perspective: 1000px;
}

.front-rotate, .back-rotate {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    justify-items: center;
    transition: 1s;
    backface-visibility: hidden;
}

.front-rotate {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.back-rotate {
    background-color: white;
    transform: rotateY(180deg);
}

.card:hover .front-rotate {
    transform: rotateY(180deg);
}

.card:hover .back-rotate {
    transform: rotateY(360deg);
}

.container .bsa {
    grid-column: 1;
    grid-row: 1/3;
}

.bsa>.front-rotate {
    background-color: white;
}

.bsa>.back-rotate {
    background-color: white;
}

.container .qa {
    grid-column: 1;
    grid-row: 3/5;
}

.qa>.front-rotate {
    background-color: green;
}

.qa>.back-rotate {
    background-color: white;
}

.container .js {
    grid-column: 2;
    grid-row: 1/4;
}

.js>.front-rotate {
    background-color: rgba(255, 208, 0, 0.9);
}

.js>.back-rotate {
    background-color: white;
}

.container .java {
    grid-column: 2;
    grid-row: 4;
}

.front-slidedown, .front-slideright, .front-slide-to-tr-corner, .front-slide-to-br-corner, .back-state {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    justify-items: center;
    transition: 1s;
}

.java>.front-slidedown {
    background-color: rgba(190, 10, 49, 1);
    z-index: 2;
}

.java>.back-state {
    background-color: white;
    z-index: 1;
    visibility: hidden;
}

.card:hover .front-slidedown {
    transform: translateY(150%);
}

.card:hover .back-state {
    visibility: visible;
}

.container .right-wrp {
    grid-column: 2;
    border: none;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: repeat(8, 12.5%);
    justify-content: center;
}

.container .php {
    grid-column: 1/3;
    grid-row: 1/4;
}

.php>.front-slide-to-tr-corner {
    background-color: rgba(120, 121, 156, 0.7);
    z-index: 3;
}

.php>.back-state {
    background-color: white;
    z-index: 1;
    visibility: hidden;
}

.card:hover .front-slide-to-tr-corner {
    transform: translateY(-100%) translateX(100%);
}

.card:hover .back-state {
    visibility: visible;
}

.container .dot-net {
    grid-column: 1;
    grid-row: 4/9;
}

.dot-net>.front-slide-to-br-corner {
    background-color: rgb(52, 21, 92);
    z-index: 2;
}

.dot-net>.back-state {
    background-color: white;
    z-index: 1;
    visibility: hidden;
}

.card:hover .front-slide-to-br-corner {
    transform: translateY(100%) translateX(150%);
}

.card:hover .back-state {
    visibility: visible;
}

.container .events {
    grid-column: 2;
    grid-row: 4/6;
}

.events>.front-slideright {
    background-color: rgba(87, 90, 245, 0.8);
    z-index: 2;
}

.events>.back-state {
    background-color: white;
    z-index: 1;
    visibility: hidden;
}

.card:hover .front-slideright {
    transform: translateX(150%);
}

.card:hover .back-state {
    visibility: visible;
}

.container .blog {
    grid-column: 2;
    grid-row: 6/8;
}

.blog>.front-slideright {
    background-color: rgba(41, 5, 172, 0.9);
    z-index: 2;
}

.blog>.back-state {
    z-index: 1;
    visibility: hidden;
}

.container .contacts {
    grid-column: 2;
    grid-row: 8;
}

.contacts>.front-slideright {
    background-color: rgb(21, 0, 98);
    z-index: 2;
}

.contacts>.back-state {
    z-index: 1;
    visibility: hidden;
}

.card .info-text {
    margin: 10px;
    font: bold;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 20px;
    color: black;
    display: block;
    overflow: auto;
}

header #logo {
    height: 30px;
    width: 105px;
}

header .content-wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatar-component {
    width: 35px;
    height: 35px;
    margin-left: 20px;
    background-color: rgb(175, 132, 192);
    color: rgb(0, 0, 0);
    display: flex;
    position: relative;
    font-size: 1.25rem;
    align-items: center;
    flex-shrink: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    line-height: 1;
    user-select: none;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.avatar-component:hover {
    background-color: rgb(171, 127, 185);
}

.round {
    border-radius: 50%;
}

footer {
    display: grid;
    justify-content: center;
    height: 10%;
    align-content: space-around;
}

@media all and (max-width: 900px) {
    .container {
        overflow: hidden;
        margin-top: 30px;
        height: 100%;
        width: 100%;
        border: none;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }
    .container .left-wrp {
        grid-row: 1;
        border: none;
        display: grid;
        grid-template-columns: 40% 35% 25%;
        grid-template-rows: repeat(5, 20%);
        justify-content: center;
    }
    .container .right-wrp {
        grid-row: 2;
        grid-column: 1;
        border: none;
        display: grid;
        grid-template-columns: 25% 35% 40%;
        grid-template-rows: repeat(5, 20%);
        justify-content: center;
    }
    .container .bsa {
        grid-column: 1;
        grid-row: 1/6;
        z-index: 4;
    }
    .container .qa {
        grid-column: 3;
        grid-row: 4/6;
        z-index: 5;
    }
    .container .js {
        grid-column: 2;
        grid-row: 1/6;
        z-index: 3;
    }
    .container .java {
        grid-column: 3;
        grid-row: 1/4;
        z-index: 4;
    }
    .container .events {
        border: none;
        grid-column: 1;
        grid-row: 1/3;
    }
    .container .blog {
        grid-column: 1;
        grid-row: 3/5;
    }
    .container .contacts {
        grid-column: 1;
        grid-row: 5;
    }
    .container .php {
        grid-column: 2/4;
        grid-row: 1/4;
        z-index: 2;
        border: none;
    }
    .container .dot-net {
        grid-column: 2/4;
        grid-row: 4/6;
        z-index: 4;
        border: none;
    }
}